* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: #83ead7;
}

.kontak {
    text-align: center;
    color: #83ead7;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #f0b0ce;
    text-align: center;
    color: beige;
}

nav {
    background-color: #83ead7;
    padding: 10px; 
    text-align: center; 
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style-type: none;
    margin: 0 9px; 
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: beige;
}

nav a:hover {
    font-weight: bold;
}


main {
    padding: 20px;
    display: flex;
    gap: 20px; 
}

#content {
    flex: 3;
    display: flex; 
    flex-direction: column; 
    gap: 20px;
}

aside {
    flex: 1;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px; 
}

.profile header {
    text-align: center;
}

.profile img {
    width: 200px;
    border-radius: 50%; 
}

.profile table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 15px;
}

.profile th, .profile td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.profile th {
    width: 30%; 
    font-weight: 700; 
}

/* --- Footer --- */
footer {
    padding: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: #83ead7;
    margin-top: 20px; 

}
@media screen and (max-width: 1000px) {
    main {
        flex-direction: column;
    }

    

}


